.main{
    margin: 20%;
}
.main1{
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: space-around;
    align-items: center;
}
#b1{
    background-color: blue;
    color: white;
    width: 250px;
    height: 30px;
}